body {
    background-image: url(river.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.container {
    border: 2px;
    text-align: center;
    align-items: center;
}

.button-is-info {
    background-color: #4CAF50; 
    border: none;
    border-radius: 6px;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: solid;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-left: 150px; 
    cursor: pointer;
}

.button-is-info:hover {
    background-image: linear-gradient(#25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.control-is-expanded {
    padding: 5px 30px 30px 5px;
}
